header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #fff;
  border-bottom: 1px solid #def2d5;
  z-index: 2; 
}

.logo {
  height: 23px;
}

.logo-container {
  margin-left: 20px;
}

.notification-icon {
  height: 1.5em;
  width: 1.5em;
  color: rgb(133, 146, 173);
}
 .notification-icon:hover {
  color: var(--green-300);
 }

.header-icon-container {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-right: 55px;
}

.notification-container {
  position: relative;
}

.notification-count {
  position: absolute;
  background-color: red;
  padding: 2px 6.5px;
  color: var(--green-50);
  border-radius: 50%;
  font-size: 0.7rem;
  top: -7px;
  right: -5px;
}

.profile-img-container {
  height: 56px;
  width: 56px;
  border: 2px solid var(--grey-400);
  border-radius: 50%;
}

.profile-img{
  border: 1px solid var(--grey-400);
  width: 52px;
  height: 52px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px) {
  header {
    border: none;
  }

  .header-icon-container {
    margin-right: 15px;
    gap: 18px;
  }

  .profile-img-container {
    height: 41px;
    width: 41px;
  }

  .profile-img {
    width: 37px;
    height: 37px;
  }

}