.mainContainer {
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--green-300);
  border-radius: 10px;
  padding: 20px 0; 
}

.navIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.navLinkContainer {
  text-decoration: none;  
}

.iconContainer {
  color: var(--grey-950);
}

@media(min-width: 1024px) {
  .mainContainer{
    display: none;
  }
}


