.dashboard_container {
  margin-left: 230px;
  margin-right: 50px;
  padding: 30px;
}

.dashboard_title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.dashboard_balance-container {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 25px;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.dashboard_balance-container::-webkit-scrollbar {
  display: none;
}

.dashboard_balance-card {
  height: 170px;
  min-width: 300px;
  padding: 22px;
  border: 1px solid var(--green-200);
  border-radius: 8px;
}

.dashboard_cryptocurrency {
  display: flex;
  background-color: var(--green-100);
  color: var(--green-400);
  width: fit-content;
  padding: 4px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
}

.dashboard_crypto-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 10px;
 margin-bottom: 15px;
}

.crypto-img {
  margin-right: 5px;
  width: 18px;
  height: 18px;
}
.dashboard_balance-title {
  font-weight: 400;
}

.dashboard_button-cont {
  display: flex;
}

.dashboard_btn { 
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green-50);
  background: var(--green-500);
  border: none;
  padding: 12px 22px;
  margin-left: 12px;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.withdraw-btn, .deposit-btn {
  width: 1.3em;
  height: 1.3em;
  margin-right: 5px;
}
.dashboard_balance-amount {
  font-size: 1.8rem;
  font-weight: 600;
}

.dashboard_greeting {
  font-family: "Funnel Display", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  min-width: 223px;
}

.dashboard_welcome-remark {
  color:rgb(133, 146, 173);
  font-weight: 400;
  margin-top: 5px;
  font-size: 0.95rem;
}

.dashboard_recent-activity {
  margin-top: 25px;
  padding: 12px;
}

.dashboard_recent-activity-title {
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--green-50);
  color: var(--green-400);
  padding: 15px;
  border-radius: 5px;
}

.dashboard_recent-activity-cont {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  color: #aaa;
} 

@media (max-width: 768px) {
  .dashboard_container {
    margin: 0;
    padding: 10px;
    width: 100%;
  }

  .dashboard_button-cont {
    display: none;
  }

  .dashboard_balance-container {
    margin-left: 15px;
    gap: 16px; 
  }

  .dashboard_balance-card {
    flex: 0 0 auto;
    height: 195px;
    width: 335px; 
  }
}

@media(max-width: 1310px) {
  .dashboard_container {
    margin-right: 0;
  }
  .dashboard_balance-container {
    justify-content: flex-start;
  }
}
