.dashboardContainer {
  border-radius: 12px;
  background-color: #fff;
  margin-top: 10px;
  width: 100%;
  flex: 1 1 auto;
  overflow-x: auto; 
  min-width: 0;
}

@media (min-width: 1024px) {
  .dashboardContainer {
    padding-left: 1%;
    padding-top: 18px;
    margin-left: 2%;
    margin-top: 20px;
  }
}

@media (min-width: 1147px) {
  .dashboardContainer{
    padding-right: 1%;
  }
}

