/*  Dashboard Styles */
.dashboard_title-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px 25px 0 25px;
  margin-top: 25px;
}

.dashboard_balance-container {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 35px;
  padding: 0 20px 0 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.dashboard_balance-container::-webkit-scrollbar {
  display: none;
}

.dashboard_balance-card {
  z-index: 1;
  position: relative;
  height: 170px;
  min-width: 310px;
  padding: 22px;
  border: 1px solid var(--green-200);
  border-radius: 8px;
  overflow: hidden;
}

.dashboard_balance-card::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('src/assets/balancebackground.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.dashboard_cryptocurrency {
  display: flex;
  background-color: var(--grey);
  color: var(--grey-950);
  width: fit-content;
  padding: 4px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
}

.dashboard_crypto-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 10px;
 margin-bottom: 5px;
}

.crypto-img {
  margin-right: 5px;
  width: 1.1rem;
  height: 1.1rem;
}
.dashboard_balance-title {
  color: rgb(133, 146, 173);
  font-weight: 400;
}

.dashboard_button-cont {
  display: flex;

}

.dashboard_btn { 
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green-50);
  background: var(--green-500);
  border: none;
  padding: 12px 22px;
  margin-left: 12px;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard_balance-amount {
  display: flex;
  gap: 5px;
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(57, 60, 68);
}

.balance-icon {
  color:rgb(133, 146, 173);
  height: 1.5rem;
}

.dashboard_greeting {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: "Funnel Display", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  min-width: 223px;
}

.dashboard_welcome-remark {
  color:rgb(133, 146, 173);
  font-weight: 400;
  margin-top: 5px;
  font-size: 0.95rem;
}

.dashboard_account-tier {
  padding: 5px;
  background-color: var(--green-200);
  color: var(--grey-950);
  margin-left: 10px;
  font-size: 0.8rem;
  width: fit-content;
  border-radius: 5px;
}

/* Recent Activity Style */

.dashboard_recent-activity {
  margin-top: 25px;
  padding: 12px;
}

.dashboard_recent-activity-title {
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--grey);
  color: var(--grey-950);
  padding: 8px;
  border-radius: 5px;
}

.dashboard_recent-activity-cont {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  color: #aaa;
  font-size: 0.9rem;
} 

.dashboard_recent-activity-name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.recent_crypto-img-cont {
  height: 1.2rem;
  width: 1.2rem;
}

.recent_crypto-img-cont img {
  width: 100%;
}

.transaction-status {
  font-size: 0.6rem;
  padding: 3px;
  border-radius: 5px;
  background-color: var(--green-100);
  color: var(--green-500);
}



/* QuickLinks Style */

.quicklink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  margin: 32px auto 0 auto;
  padding: 0 8px 0 8px;
}

.quicklink-icon {
  height: 1.4rem;
  width: 1.4rem;
}

.quicklink-icon-label {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 8px;
}

.quicklink-icon-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: var(--green-100);
  min-width: 110px;
  height: 65px;
}

@media(min-width: 640px) {
  .quicklink {
    gap: 20px;
  }
}

@media(min-width: 900px) {
  .dashboard_balance-container {
    justify-content: center;
  }
}

@media(min-width: 1024px) {
  .quicklink{
    display: none;
  }

  .dashboard_container {
    width: 1160px;
    margin: 0 auto 0 auto;
    padding-left: 130px;
    padding-right: 10px;
  }

  .dashboard_balance-container {
    gap: 25px;
  }

  .dashboard_title-container {
    padding-left: 20px;
  }
}



