/* .transactionsContainer {
  padding: 15px;
} */
 .mainContainer {
  overflow: hidden;
  padding-bottom: 100px;
 }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.title {
  font-size: 1.6rem;
  font-family: "Funnel Display", sans-serif;
  color: var(---grey-950);
  font-weight: 600;
}

@media(min-width: 1024px) {
  .mainContainer {
    padding-bottom: 0;
  }
}



