.container {
 flex-basis: auto;
  padding-top: 8px;
  padding-bottom: 80px;
  min-height: 100dvh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 5px 0 0 20px;
}

.greeting {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: "Funnel Display", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  min-width: 223px;
}

.accountTier {
  padding: 5px;
  background-color: var(--green-200);
  color: var(--grey-950);
  margin-left: 10px;
  font-size: 0.8rem;
  width: fit-content;
  border-radius: 5px;
}

.welcomeRemark {
  color: rgb(133, 146, 173);
  font-weight: 400;
  margin-top: 5px;
  font-size: 0.95rem;
}

.balanceContainer::-webkit-scrollbar {
  display: none;
}

.spinner {
  margin-left: 10px;
}

@media (min-width: 1024px) {
  .container {
    padding-bottom: 10px;
  }
}
