.sidebarMainContainer{
  position: absolute;
  display: none;
  background-color: #fff;
  margin-left: 12px;
  border-radius: 12px;
  padding-bottom: 20px;
  width: fit-content;
  height: fit-content;
}

.sidebarContentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18px;
  cursor: pointer;
  color: rgb(133, 146, 173);
}

.iconContainer:first-child {
 margin-top: 18px;
}

.iconContainer:hover {
  color: var(--green-400);
}

.navLinkContainer {
  text-decoration: none;  
}

.navIcon {
  width: 1.4em;
  height: 1.4em;
}

.iconLabel {
  display: none;
  font-size: 0.85rem;
}

.active {
  color: var(--green-500)
}

.logout {
  margin-top: 55px;
  color: #ff303c;
}

.logout:hover {
  color: #f1111e;
}


@media (min-width: 1024px) {
  .sidebarMainContainer {
    display: initial;
  }
}

@media (min-width: 1280px) {
  .sidebarMainContainer {
    width: 195px;
  }

  .iconLabel  {
    display: initial;
  }

  .navIcon {
   margin-left: 15px;
  }
}
