.success {
  color: green;
  border: 1px solid green;
  width: fit-content;
  padding: 6px;
  border-radius: 6px;
}

.failed {
  color: red;
  border: 1px solid red;
  width: fit-content;
  padding: 6px;
  border-radius: 6px;
}

.pending {
  color: #D3BA71;
  border: 1px solid #D3BA71;
  background-color: #FDF8EC;  
  width: fit-content;
  padding: 6px;
  border-radius: 6px;
}