.subtitle {
  font-size: 1.3;
  font-family: "Funnel Display", sans-serif;
  color: var(---grey-950);
  font-weight: 600;
  margin-bottom: 10px;
}

.historyContainer {
  height: fit-content;
  /* min-height: 420px; */
  border: 1px solid var(--grey);
  border-radius: 12px;
}

@media(min-width: 1024px) {
  .historyContainer {
    padding: 6px 15px;
  }
}