.navigation {
  display: none;
  background-color: #fff;
  position: absolute;
  border-right: 1px solid #f3f3f3;
  height: 100%;
  width: fit-content;
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-icon-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18px;
  cursor: pointer;
  color: rgb(133, 146, 173);
}

.nav-icon-container:first-child {
 margin-top: 18px;
}

.nav-icon-container:hover {
  background-color: var(--green-300);
  color: black;

}

.nav-icon {
  width: 1.4em;
  height: 1.4em;
}

.nav-icon-label {
  display: none;
  font-size: 0.85rem;
}

.active {
  background-color: var(--green-300);
  color: black;
}

@media (min-width: 1024px) {
  .navigation {
    display: initial;
  }
}

@media (min-width: 1280px) {
  .navigation {
    width: 195px;
  }

  .nav-icon-label  {
    display: initial;
  }

  .nav-icon {
   margin-left: 15px;
  }
}
