:root {
  --green-50: #f6ffe5;
  --green-100: #e9ffc7; 
  --green-200: #d2ff95;
  --green-300: #b9ff66;
  --green-400: #94f625;
  --green-500: #73dd05;
  --green-600: #57b100;
  --green-700: #57b100;
  --grey: #f3f3f3;
  --grey-400: #808080;
  --grey-950: #191A23;
}