:root {
  --green-50: #f4fbf2;
  --green-100: #e7f6e2; 
  --green-200: #cfedc5;
  --green-300: #95d581;
  --green-400: #7bc464;
  --green-500: #57a93e;
  --green-600: #458a2f;
  --green-700: #376d28;
  --grey-400: #808080;
  --grey-950: #11270c;
}